body{
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
}

a:hover{
    cursor: pointer;
}

ul{
    margin: 2px 0 5px 0 ;
   text-align: left;
}
li{
    margin: 0;
    padding: 0;
}

li:hover{
    cursor: pointer;
}

img{
    width:  40px;
}

canvas{
    margin: 0;
    padding: 0;
}

li:hover{
    background-color: #d9d9d9;
}

img{
    margin: 0;
    padding: 0;
}

.menu_li{
    display: none;
}

.btn-left{
    float: left;
    width: 80%;
}

.inpt_task{
    padding: 0;
    margin: 0 0 5px 0;
}

.btn-right{
    float: right;
}

.navbar{
    width: 100%;
    background-color: cornflowerblue;
    border: none;
}

.content{
    margin: 0 15% 0 15%;
}

.container{
    margin-bottom: 0;
}

.tbl{
    background-color: white;
    height: 100%;
}

.tbl-left{
    background-color: #d9d9d9;
    border: none;
    text-align: center
}

.hide_form_task, .hide_form_project{
    display: none;
}
.add_task:hover{
   cursor: pointer;
}

.type_priority, .type_project:hover{
    cursor: pointer;
}

/*************************/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content{
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
/*************************/

.modal_project{
    position: fixed;
}

.form form {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.input_form{
    margin-bottom: 5px;
}

.sign>input{
    padding: 10px;
    width: 200px;
    margin-bottom: 15px;
}

.expired{
    background-color: #ff5c52;
}

.hide_form_project_edit, .hide_form_task_edit{
    display: none;
}

.navbar-text{
    color: white;
}

.page_link{
    padding: 0;
    margin: 0 0 10px 0;
    border: none;
}

.page_link>li>a{
    text-align: center;
    font-size: 16px;
}


